@import "helper";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: $font-hei;
  font-size: 16px;
  line-height: 1.2;
  background: #f5f5f5;
  color: #333;
}

button {
  font-family: inherit;
}
:focus{
  outline: none;
}
.icon {
  width: 2em;
  height: 2em;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.oneLine{
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}